body {
  background-color: #7091e6;
  color: #333;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  padding: 3vh;
  text-align: center; }

.dark-mode {
  background-color: #333333;
  color: #d8d8d8; }

.right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

.left-align {
  text-align: left; }

.center-align {
  margin-left: auto;
  margin-right: auto; }

table {
  margin-top: 3vh;
  width: 80vw; }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse; }

td {
  height: 22px;
  min-width: 100px;
  max-width: 40vw; }

th {
  max-width: 10vw;
  min-width: 10px; }

.hidden {
  display: none; }

footer {
  margin-top: 5vh; }
